.search-bar-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    // background-color: #fff; /* Set background color as needed */
    padding: 20px;
    padding-right: 20px;
    
  
    @media (min-width: 768px) {
      width: auto;
      max-width: 300px; /* Adjust the max-width as needed */
      border-radius: 5px;
    }
  
    .input-group {
      @media (min-width: 768px) {
        margin-right: auto;
        margin-left: auto;
      }
  
      .form-control {
        @media (min-width: 768px) {
          border-radius: 5px 0 0 5px;
        }
      }
  
      .input-group-append {
        .btn {
          @media (min-width: 768px) {
            border-radius: 0 5px 5px 0;
          }
        }
      }
    }
  }
  