*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
   .attended li {
        margin-left: 20px !important;
        margin-top: 5px;
    }


.Dashboard_heading{
    /* border-bottom: 1px solid #ccc; */
    /* box-shadow: 4px 4px 8px #ccc; */
    padding: 20px;
}
.Dashboard_cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.Dashboard_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border-bottom: 1px solid #ccc;
    box-shadow: 4px 4px 8px #ccc;
    border-radius: 15px;
    width: 400px;
    height: 200px;
    padding: 70px 40px;
    background-color: white;
}
.form_card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid #ccc; */
    box-shadow: 4px 4px 8px #ccc;
    border-radius: 15px;
    height: auto;
    padding:50px;
    flex-wrap: wrap;
    background-color: #ffff;

}
.request_card{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    box-shadow: 4px 4px 8px #ccc;
    border-radius: 15px;
    height: auto;
    padding:50px 0;
    flex-wrap: wrap;
    background-color: #ffff;

}

/* .input-group { 
    width: 30% !important;
} */
.request-group{
    width: 80% !important;
}
.request-group input{
    padding: 40px 50px;
}
input{
    /* box-shadow: 4px 4px 4px #ccc; */
    border-bottom: 1px solid #ccc;
    border-left: none !important;
    border-Right: none !important;
    border-top: none !important;
}

.garison{
    display: flex;
    justify-content: center;  
}

.avalible_garison{
    border-bottom: 1px solid #ccc;
    box-shadow: 4px 4px 8px #ccc;
    border-radius: 15px;
    height: auto;
    padding:20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffff;
}
.unavalible_garison{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    box-shadow: 4px 4px 8px #ccc;
    border-radius: 15px;
    height: auto;
    padding:20px 10px ;
    background-color: #ffff;
}
.list{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    background-color    : #ffff !important;
    border-bottom: 1px solid #ccc;
    box-shadow: 4px 4px 8px #ccc;
    border-radius: 15px;
    height: auto;
    padding:50px;
    flex-wrap: wrap;
}
.Record_1{
    border-bottom: 1px solid #ccc;
    box-shadow: 4px 4px 8px #ccc;
    border-radius: 15px;
    padding:40px 30px;
    background-color: #fff;
}


.Record_2{
    border-bottom: 1px solid #ccc;
    box-shadow: 4px 4px 8px #ccc;
    border-radius: 15px;
    padding:40px 30px;
    background-color: #fff;
}
.Record_1 li , .Record_2 li{
    margin-top: 20px;
} 

.occurance_holds{
    background-color: #ffff;
    border-bottom: 1px solid #ccc;
    box-shadow: 4px 4px 8px #ccc;
    border-radius: 15px;
    height: auto;
    padding:50px 10px;
    flex-wrap: wrap;
}
.occurance_holds h6{
    margin-top: 10px;
}

.Avaliable_gar{
    background-color: #ffff;
    border-bottom: 1px solid #ccc;
    box-shadow: 4px 4px 8px #ccc;
    border-radius: 15px;
    height: 500px;
    padding:20px 0px;
    display: flex;
    /* justify-content: cen ter; */
    align-items: center;
    flex-direction: column;
}
    .custom-container{
        background-color: #f5f5f5;
    }


    .cars{
        border-bottom: 1px solid #ccc;
        box-shadow: 4px 4px 8px #ccc;
        border-radius: 15px;
        height: auto;
        padding:20px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #ffff;
    }
    .guards{
        border-bottom: 1px solid #ccc;
        box-shadow: 4px 4px 8px #ccc;
        border-radius: 15px;
        height: auto;
        padding:20px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #ffff;
    }
    .guards-1{
        display: none;
    }
     
    

    body{
        background-color: red;
    }
